.pointer{
    cursor: pointer;
}
.homeimg{
    position: absolute;
    }
    
.homecontainer{
    width:30% !important;
    margin-top: 5%;
    position: absolute;
    margin-left: 35% !important; 
}
.img1{
  height:746px;
  width:1519px;
}
.logbtn{
    font-weight: bold !important;
}
.hometxt{
    font-weight: bold !important;
}
.forgot{
    font-weight: bold !important;
}
.containersign{
    width:30% !important;
    margin-left: 35% !important; 
    margin-top: 5%; 
    position: absolute;
}
.img2{
    height:746px;
    width:1519px;
    position: absolute;
  }
  .header-nav-items{
    width:100%;
    display: flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    gap: 20px;
  }
.Userdash{
    background: url('./images/signback.jpg');
    position: absolute;
    height:670px;
    width:1519px;
}
.tab{
    margin-top: 5%; 
}
table{
    margin: auto;
    width:80%;
    text-align: center;
    font-size:25px;
}
.App{
    font-weight: bold;
    font-size:30px !important;
    color:rgb(182, 75, 111) !important;
}
.dietchart{
    margin-top: 1%;
}
.welocme{
    /* color:rgb(182, 75, 111); */
}
.containeruser{
    width:40%;
    margin-left: 30%;
}